body {
    margin: 0;
    padding: 0;
}
h1{
    
}
.paginator{
    position: relative;
    left: 500px;
    bottom: 45px
}
.headline{
    font-size: 35px
}

.symbol {
    background: yellow;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
}
.symbols{
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
}


*, *::after, *::before {
    box-sizing: border-box;
}

hr{
    background-color: silver;
    width: 99%;
}

.image1 {
	position: relative;
    border: 1px solid;
    border-color: grey;
    display: inline-block;
}

.text_on_left_block {
    height: 100%;
    width: 100%;
    display: none;
    color: #fff;
    font-size: 19px;
    line-height: 1.3;
    padding: 10px 15px;
    background-color: rgba(0,0,0,.75)
}
.text_under_left_block{
    color: grey;
    padding-top: 2px;
    padding-bottom: 2px;
}

.image--wrap {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image--hover {
    display: inline-block;
}

.image--hover:hover {
    opacity: 0;
}

.image--hover:hover ~ .text_on_left_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h2 {
	position: absolute;
	top: 40px;
	left: 0;
}

h2 span {
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding	: 10px;
}

h2:hover::after{
    content: attr();
}

.image2{
    position: relative;
    left: 10px;
    padding-left: 1px;
    border: 1px solid;
    border-color: grey;
    display: inline-block;
}