.name{
    font-size: 50px;
    font-weight: bold;
}
.form {
    outline: 2px solid #000;
    margin-right: 100px;
    margin-top: 20px;
    
    
}
.form-row{
    margin-bottom: 8px;
    overflow: hidden;
    padding-left: 10px;
}
hr{
    margin-top: 20px;
    width: 675px;
    
}
label{
    font-size: 20px;
}
.form-row input{
    
}
.form-row textarea{
    height: 150px;
    width: 450px;
}
* {
    font-family: arial;
}